/* Reset margins and padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Remove default border on Graph container */
#main-plot {
  overflow: hidden !important;
}
